doctype html
html
  head
    title Simple Transactions Dashboard
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    //link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/style/style.css")
  body
    h1.mainTitle Transactions
    #container
      block content
    script(type="text/template" id="transactionTemplate").
      td!= '<%= date %>'
      td!= '<%= type %>: <%= description %>'
      td.amount!= '<%= symbol %> <%= amount %>'
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="/script/app.js")
